.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 30px 20px 10px;
    padding: 10px;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}

.product__stackedRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 30px 20px 10px;
    padding: 15px;
    max-height: 300px;
    min-width: 250px;
    background-color: white;
    z-index: 1;
}

.product__stackedRow>img {
    max-height: 50px;
    max-width: 100px;
    object-fit: contain;
    margin-bottom: 5px;
}

.product__info {
    padding: 5px;
    max-width: 80%;
}

.product__rating {
    display: flex;
}

.product>img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product__price {
    margin-top: 5px;
}

button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9e7e31 #846a29;
}