.productCard {
    align-items: start;
    margin: 2% 1% 0px 1%;
    padding: 1%;
    min-height: 35%;
    max-height: 35%;
    width: 40% !important;
    background-color: white;
    z-index: 1;
}

a {
    color: rgb(46, 122, 204);
    text-decoration: none;
}

.productCard__single {
    align-items: start;
    margin: 2% 1% 0px 1%;
    padding: 1%;
    min-height: 30% !important;
    width: 49%;
    background-color: white;
    z-index: 1;
}

.productCard__singleBox {
    max-width: 60%;
}

.productCard__singleAd1 {
    margin: 2% .4% 0px 1%;
    padding: 1%;
    min-height: 30% !important;
    width: 23% !important;
    background-color: white;
    z-index: 1;
}

.productCard__singleAd2 {
    margin: 2% 1% 0% 2%;
    padding: 1%;
    min-height: 30% !important;
    width: 23% !important;
    background-color: white;
    z-index: 1;
}

.productCard__singleBoxAd {
    min-width: 30%;
}

.productCard__multiple {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productCard__category {
    align-self: flex-start;
    margin-left: 2%;
    margin-bottom: 5px;
}