.productCard {
    align-items: start;
    margin-top: 10px;
    padding: 10px;
    min-height: 50%;
    width: 25% !important;
    background-color: white;
    z-index: 1;
}

.productCard__single {
    align-items: start;
    margin-top: 10px;
    padding: 10px;
    min-height: 30% !important;
    width: 101%;
    background-color: white;
    z-index: 1;
}

.productCard__singleBox {
    min-width: 60%;
}

.productCard__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productCard__category {
    align-self: flex-start;
    margin-left: 10px;
    margin-bottom: 5px;
}