.product__single {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: visible;
    min-height: 300px;
    min-width: 300px;
}

.product__singleImage {
    height: 200px;
    width: 300px;
    object-fit:fill;
    align-self: center;
}

.product__multiple {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.product__link {
    text-decoration: none;
}

.product__info {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.product__multipleImages {
    height: 130px;
    width: 60%;
    object-fit: contain;
    align-self: center;
}
