.stackedProduct__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1% 1% 2% 3%;
    margin: 4% 1% 0px 1%;
    height: 35%;
    width: 90%;
    background-color: white;
    z-index: 1;
}

.stackedProduct__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3% 1% 0px 1%;
    padding: 1% 1% 0% 5%;
    height: 60%;
    width: 90%;
    background-color: white;
    z-index: 1;
}

.stackedProduct__info {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.stackedProduct__info>p {
    font-size: 1.3em;
    font-weight: 700;
}

.stackedProduct__imgBottom {
    height: 50%;
    max-width: 100px;
    object-fit: contain;
    margin-bottom: 5px;
}

.stackedProduct__imgTop {
    max-width: 50%;
    max-height: 80%;
    align-self: flex-end;
}

.stackedProduct__link {
    text-decoration: none;
    color: rgb(16, 145, 210);
}

.stackedProduct__rating {
    display: flex;
    align-self: baseline;
}

button {
    background-color: #ff9900;
    border: 1px solid;
    border-color: rgb(256, 153, 0);
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: smaller !important;
}